<div class="container">
  <h1>Map</h1>
  <hr />
  <div class="eg">
    <div>
      <strong>Ex- 01</strong>
      <hr />
      <ul class="customlist">
        <li><strong>Map</strong> video + data</li>
      </ul>
      <span
        >Message: <mat-chip>{{ msg1 }}</mat-chip></span
      >
    </div>
    <div>
      <strong>Ex - 02</strong>
      <hr />
      <ul class="customlist">
        <li><strong>Map</strong> data => data*10</li>
      </ul>
      <span
        >Message: <mat-chip>{{ msg2 }}</mat-chip></span
      >
    </div>
    <div>
      <strong>Ex - 03</strong>
      <hr />
      <ul class="customlist">
        <li><strong>Map</strong> map object data</li>

        <ul #obsUl class="customlist"></ul>
      </ul>
    </div>
  </div>
</div>
