<div class="container">
  <h1>DebounceTime and destinctUntilChanged</h1>
  <hr />
  <mat-tab-group>
    <mat-tab label="Ex - 01">
      <mat-chip>DebounceTime(milisecond)</mat-chip>
      <hr />

      <!-- <mat-form-field> -->
      <mat-label>Search</mat-label>
      <input type="text" #search1 />
      <!-- </mat-form-field> -->
    </mat-tab>
    <mat-tab label="Ex - 02">
      <mat-chip>destinctUntilChanged()</mat-chip>
      <hr />
      <!-- <mat-form-field> -->
      <mat-label>Search</mat-label>
      <input type="text" #search2 />
      <!-- </mat-form-field> -->
    </mat-tab>
  </mat-tab-group>
</div>
