<div>
  <h2>Merge</h2>
  <hr />
  <div class="grid">
    <div>
      <h3>Source 01 | TechChannel(5)</h3>
      <hr />
      <ng-container>
        <mat-card
          ><mat-card-content
            ><strong>Tech video List:</strong> 1,2,3,4,5</mat-card-content
          ></mat-card
        >
      </ng-container>
    </div>
    <div>
      <h3>Source 02 | Comedy Channel(3)</h3>
      <hr />
      <ng-container>
        <mat-card
          ><mat-card-content
            ><strong>Comedy video List:</strong> 1,2,3</mat-card-content
          ></mat-card
        >
      </ng-container>
    </div>
    <div>
      <h3>Source 03 | News Channel(4)</h3>
      <hr />
      <ng-container>
        <mat-card
          ><mat-card-content
            ><strong>News video List:</strong> 1,2,3,4</mat-card-content
          ></mat-card
        >
      </ng-container>
    </div>
  </div>
  <div class="flex">
    <div>
      <h3>Your channel (subscribe)</h3>
      <hr />
      <ul #list></ul>
    </div>
  </div>
  <hr />
</div>
