<div class="container">
  <h1>toArray</h1>
  <div class="eg">
    <div>
      <strong>Interval</strong>
      <hr />
      <mat-chip>Data: interval(1000)</mat-chip>
      <mat-chip>{{ obsres }}</mat-chip>
    </div>
    <div>
      <strong>from</strong>
      <hr />
      <mat-chip>Data: from(user Object Array)</mat-chip>
      <hr />
      {{ obsres2 }}
    </div>
    <div>
      <strong>of</strong>
      <hr />
      <mat-chip>Data: of("Anup", "Akash", "Omkar")</mat-chip>
      <mat-chip>{{ obsres3 }}</mat-chip>
    </div>
  </div>
</div>
