.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
  padding: 1rem;
  mat-card {
    margin: 1rem;
  }
}
.flex {
  display: flex;
  justify-content: space-evenly;
  div {
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1rem;
    background-color: lightblue;
  }
}
