<div>
  <h2>SwitchMap</h2>
  <hr />
  <div class="grid">
    <div>
      <h3>Ex 01 | mergeMap</h3>
      <hr />
      <ng-container>
        <mat-card
          ><mat-card-content
            ><strong>Videos:</strong> ['Tech','Comedy','news']</mat-card-content
          ></mat-card
        >
      </ng-container>
    </div>
    <div>
      <h3>Ex 02 | concatMap</h3>
      <hr />
      <ng-container>
        <mat-card
          ><mat-card-content
            ><strong>Videos:</strong> ['Tech','Comedy','news']</mat-card-content
          ></mat-card
        >
      </ng-container>
    </div>
    <div>
      <h3>Ex 03 | SwitchMap</h3>
      <hr />
      <ng-container>
        <mat-card
          ><mat-card-content
            ><strong>Videos:</strong> ['Tech','Comedy','news']</mat-card-content
          ></mat-card
        >
      </ng-container>
    </div>
  </div>
  <div class="flex">
    <div>
      <ul #list1></ul>
    </div>
    <div>
      <ul #list2></ul>
    </div>
    <div>
      <ul #list3></ul>
    </div>
  </div>
  <hr />
</div>
